<div class="container">
  <div class="row">
  <%@products.each do |product| %>
   <div class="col-sm-6 col-md-4">
     <div class="thumbnail">
       <%= link_to(image_tag("#{product.image_url}"), product) %>
       <div class="caption">
         <h3><%=product.name%></h3>
         <p><%=product.description%></p>
         <a href=<%="/products/#{product.id}"%> class="btn btn-primary" role="button">Details</a>
         <button type="button" class="btn btn-default favorite" id=<%="#{product.id}"%>>
           <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
         </button>
         <span class=<%="#{product.id}"%>><label><%=product.favorites%></label></span>
        </div>
     </div>
   </div>
   <% if product.id%3 == 0 %>
     </div>
       <div class="row">
       <% end %>
   <% end %>
  </div>
  </div>
</div>
